<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Hello World</display-name>
	<servlet>
		<servlet-name>helloWorld</servlet-name>
		<servlet-class>com.acme.test.HelloWorld</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>name</param-name>
			<param-value>value</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloWorld</servlet-name>
		<url-pattern>/hello.html</url-pattern>
	</servlet-mapping>
</web-app> 
